body{
    background-image: url("/Project4/images/background.jpg"); /* The image used */
    height: 100vh;
    background-size: cover;
    position: relative;
}

.frankieCardWidth{
    width: 18rem;
}

.frankieBgGallery{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.frankieJumbo{
    background-color: darkblue;
}