body{
    background-image: url("images/background.jpg"); /* The image used */
    height: 100vh;
    background-size: cover;
    position: relative;
}
.navbar{
    background-color: rgb(0, 0,204, 0.6);
}

.nav-item{
    color: white;
    opacity: 100%;
    justify-content: flex-end;
}

.verses{
    position: relative;
    top:35%;
    height: 450px;
    width: 800px;
    background-color: rgb(0, 0,204, 0.6);
    color: white;
}

.scripture{
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 10%;
}
.scriptureSection{
    padding: 5%;
    text-align: right;
}

.ntoggler.navbar-toggler{
    border-color: white;
    opacity: 100%;
    background-color: white;
}

.churchTitle{
    color: white;
    padding-left: 5px;
    padding-right: 10px;
}

.history{
    text-align: center;
    position: relative;
    height: 100%;
    width: 800px;
    background-color: rgb(0, 0,204, 0.6);
    color: white;
    margin-top: 25%;
}
.frankieCardWidth{
    width: 18rem;
}

.frankieBgGallery{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.frankieJumbo{
    background-color: rgb(0, 0,204, 0.6);
}
.schedule{
    background-color: rgb(0, 0,204, 0.6);
    padding:10px;
    color:white;
    position: relative;
    top:15%;
    max-width: 350px;   
}
.schedule p{
    display:flex;
    justify-content: center;
}
