body{
    background-image: url("../images/background.jpg"); /* The image used */
    height: 100vh;
    background-size: cover;
    position: relative;
}

.navbar{
    background-color: darkblue;
    opacity: 60%;
}

.nav-item{
    color: white;
    opacity: 100%;
}